services:
  bliss-os:
    build:
      context: .
      dockerfile: Dockerfile.bliss
    privileged: true
    shm_size: 2gb
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    environment:
      - VNCPASS=admin
      - blissPASS=admin
      - LISTENPORT=8000
      - WEB_PORT=8080
      - DISPLAY_WIDTH=1920
      - DISPLAY_HEIGHT=1080
      - MEMORY=8192
      - CPUS=4
    ports:
      - "8000:8000"
      - "8080:8080"
      - "5901:5901"
    volumes:
      - ./Bliss-v7.2-android_x86:/build:ro
    logging:
      driver: json-file
      options:
        max-size: 20m
        max-file: '10'
